body {
  margin: 0 auto;
  padding: 0;
  background-color: #fafafa;
}

.game-board {
  width: 70%;
  float: left;
  text-align: center;
}

@media screen and (max-width: 550px) {
  .game-board {
    width: 100%;
  }
}

.game-info {
  width: 30%;
  float: left;
}

@media screen and (max-width: 550px) {
  .game-info {
    width: 100%;
    margin-top: 25px;
    text-align: center;
  }
}

.board-row {
  margin: 0;
}

.square {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: #eaeaea;
  border: 0;
  font-size: 1.125rem;
  font-weight: 600;
}

.game-info ul {
  padding: 0;
  list-style: none;
}

.game-info li button {
  width: 150px;
  height: 35px;
  border: 0;
  background: #8bc34a;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 600;
}